@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,700;1,400&display=swap');
/* font-family: 'Lato', sans-serif; */

@font-face{
    font-family: "Lato-Light";
    src: url(../tipografia/Lato-Light.ttf);
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    position: absolute;
}

p{
    font-family: 'Lato', sans-serif;
    font-family: "Lato-Light";
}




/* HEADER  */
header {
width: 100%;
top: 0;
left: 0;
padding: 1.5rem 0;
background-color: black;
}

.logo a { 
    color: white;

}

header ul li a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.button-menu {
    display: none;
}

.menu {
    width: 50%;
    display: flex;
}

.ul-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



@media (max-width: 1200px) {
    
    header {

        padding: 1rem 0;

    }
               
    header ul li a {
        font-size: 15px;
         
    }

}

@media screen and (max-width: 650px) {
    
    header {

        padding: 0.5rem 0;

    }
               
    header ul li a {
        font-size: 10px;
         
    }

    .button-menu {
        display: flex;
        color: white;
        background-color: transparent;
        border-radius:10% ;
    }

    .menu {
        width: 60px;
        height: 130px;
        background-color: black;
        position: absolute;
        top: -25%;
        right: 2%;
        border-radius: 5%;
    }


    .ul-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .menu.open {
        top: 0.7%;
    }

}



/* <-------------------> */
/* <-------------------> */
/* <-------------------> */
/* MAIN SECTION */
/* <-------------------> */
/* <-------------------> */
/* <-------------------> */

.main-section{
    height: 100vh;
    background-image: url("../img/Oxido.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-tittle{
    height: 100vh;
    font-family: "Lato-Light";
    padding: 1.7rem;
    color: black;
    line-height: 3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-tittle:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0.0) 50%, #121211 100%);
}

.main-tittle h2 {
    font-weight: 600;
    font-size: 1.7rem;
    
}

.main-tittle h1 {
    font-weight: bold;
    font-size: 3rem;
    
}

.main-tittle h1 span {
    color: gold;
}

nav.social-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: auto;
    border-radius: 35px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.3);

}

nav.social-nav ul li{
    padding-top: 10px;
    width: 40%;
    margin-left: 20px;
}

nav.social-nav ul li img {
    max-width: 35%;
}

@media (max-width: 1200px) {
     
    nav.social-nav ul{

        width: 230px;
        border-radius: 35px;
        margin-top: 10px;
    
    }

}

@media (max-width: 580px) {
    
    nav.social-nav ul{

        width: 200px;
        border-radius: 35px;
        margin-top: 10px;
    
    }

    .main-tittle h1 {
        font-weight: bold;
        font-size: 2.6rem;
        
    }

}




/* <-------------------> */
/* <-------------------> */
/* <-------------------> */
/* SECOND SECTION */
/* <-------------------> */
/* <-------------------> */
/* <-------------------> */

.second-section{
    height: 80vh;
    background-color:#121211; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

/* PARTE DE ARRIBA */

.info-nav{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.square{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    color: lightgray;
}

.square:hover{
    border-bottom: 1px solid darkgoldenrod;
}

.info-nav p {
    font-size: 1.25rem;
    margin-left: 0.938rem;

}

.circle{
    width: 50px;
    height: 50px;
    border: solid 2px darkgoldenrod;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: sans-serif;

}

/* CUADROS LATERALES */

.boxes{
    margin-top: 5%;
    width: 80%;
    height: 85%;
    display: flex;
}



.left{
   width: 50%;
   height: 100%; 
   display: flex;
   justify-content: center;
}

.box-square{
    width: 80%;
    height: 80px;
    border: 1px solid white;
    margin: 7% 1% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-boxes-square{
    margin: 8%;
    width: 10%;
}

.menace{
    width: 70%;
    height: 100%;
    display: flex;
    align-items:flex-start;
    justify-content:center;    
    flex-direction: column;
}

.menace-text {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.text-boxes-square{
    font-size: 15px;
    color: white;
}

.box-square h2{
    color: white;
    font-weight: bold;
}




.right{
    width: 35%;
    height: 58%; 
    color: white;
    margin: 2% 1% ;
}

.right-p-1 {
    color: #eab104;
}

.right-p-2 {
    margin-top: 2%;
    font-size: 35px;
    font-weight: bolder;
}

.right-p-3 {
    margin: 5% 0%;
    line-height: 20px;
}

.right button{
    width: 150px;
    height: 50px;
    background-color: #eab104;
    color: white;
    transition: background-color 0.5s;
}

.right button:hover{
    border: 1px solid #eab104;
    background-color: black;
}

@media (max-width: 1200px) {
   
    .info-nav p {
        font-size: 1rem;
        margin-left: 0.938rem;
    
    }

    .circle{

        width: 50px;
        height: 40px;
        font-size: 18px;
    
    }

}

@media (max-width: 580px) {
    
    .info-nav {
        height: 40%;
        display: grid;
        grid-template-columns: 40% 40%; 
    }

    .info-nav p {
        font-size: 0.9rem;
        margin-left: 0.938rem;
    }

    .circle{

        width: 50px;
        height: 30px;
        font-size: 14px;
    
    }

    .boxes{
        margin-top: 15%;
    }

    .menace-text {
        font-size: 15px;
    }

    .text-boxes-square{
        font-size: 10px;
    }

    .right-p-1 {
        font-size: 10px;
    }
    
    .right-p-2 {
        font-size: 20px;
    }
    
    .right-p-3 {
        font-size: 10px;
    }

}





/* <-------------------> */
/* <-------------------> */
/* <-------------------> */
    /* THIRD SECTION */
/* <-------------------> */
/* <-------------------> */
/* <-------------------> */

.third-section{
    height: 73vh;
    background-color: #1A1919;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first-part{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first-part h5{
    margin-top: 7%;
    color: #eab104;
    font-weight: bold;
}

.p-first{
    margin-top: 1%;
    font-size: 35px;
    font-weight: 900;
    color: white;
}

.write{
    width: 35%;
    height: 10%;
    margin: 1% 0%;
    line-height: 20px;
    color: darkgray;
    text-align: center;
}

.box-img {
    width: 80%;
    height: 20%;
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxer-1 {
    width: 95%;
}
   
.boxer-2{
    width: 95%;
    
}

.boxer-3 {
    width: 95%;
   
}

.boxer-4 {
    width: 95%;
   
}


@media (max-width: 1100px) {
   
    .box-img {
        width: 80%;
        height: 45%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px;
        row-gap: 1%;
        column-gap: 1%;
        margin-left: 6%;
     }
    
    .boxer-1 {
        width: 50%;
    }
    
    .boxer-2{
        width: 50%;       
    }
        
    .boxer-3 {
        width: 50%;    
    }
        
    .boxer-4 {
        width: 50%;   
    }
}

@media (max-width: 580px) {

    .first-part h5{
        margin-top: 3%;
    }

    .p-first{
        font-size: 20px;
    }

    .write{
       font-size: 10px;
    }
}



/* <-------------------> */
/* <-------------------> */
/* <-------------------> */
    /* FOURTH SECTION */
/* <-------------------> */
/* <-------------------> */
/* <-------------------> */

.fourth-section{
    height: 80vh;
    background-image: url("../img/Planos.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.upper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-left {
    width: 35%;
    height: 50%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.one-p{
    color:#eab104 ;
    font-weight: 900;
}

.two-p{
    color:black;
    font-size: 50px;
    font-weight: 700;
    margin-top: 3%;
}

.three-p{
    color: black;
    font-size: 20px;
    margin-top: 3%;
    font-weight: 800;
}

.fourth-right{
    width: 35%;
    height: 85%; 
    display: grid;
    grid-template-columns: 50% 50% ;
    column-gap:5%;
}

.boxing{
    height: 98%;
    background-color: rgba(223, 219, 219, 0.2);
    border-radius:10% ;
}

.img-boxing{
    width: 20%;
    height: 40%;
    margin-left: 1%;
}

.boxing-title{
    font-size: 28px;
    font-weight: 900;
    margin:2% 2%;
}

.boxing-p{
    font-size: 19px;
    font-weight:550;
    margin-left: 2%;
}


@media (max-width: 1200px) {
    
    .two-p{
        font-size: 40px;
        font-weight: 700;
        margin-top: 3%;
    }
    
    .three-p{
        font-size: 20px;
        margin-top: 3%;
    }

    .boxing-title{
        font-size: 25px;
        margin:1% 1%;
    }
    
    .boxing-p{
        font-size: 20px;
    }

}

@media (max-width: 1050px) {
    .upper{
        flex-direction: column;
    }

    .fourth-left {
        width: 60%;
    }

    .fourth-right{
        width: 60%;
    }

    .boxing-title{
        font-size: 23px;
    }
    
    .boxing-p{
        font-size: 18px;
        margin-left: 2%;
    }

    .img-boxing{
        height: 20%;
    }
}

@media (max-width: 850px) {
   
    .two-p{
        font-size: 30px;
        font-weight: 700;
        margin-top: 3%;
    }
    
    .three-p{
        font-size: 18px;
        margin-top: 2%;
    }

    .boxing-title{
        font-size: 15px;
        margin:1% 1%;
    }
    
    .boxing-p{
        font-size: 15px;
        margin-left: 2%;
    }

}

@media (max-width: 580px) {
   
    .two-p{
        font-size: 25px;
        font-weight: 700;
        margin-top: 2%;
    }
    
    .three-p{
        font-size: 10px;
        margin-top: 2%;
    }
    .img-boxing{
        height: 20%;
    }
}

/* <-------------------> */
/* <-------------------> */
/* <-------------------> */
    /* FIFTH SECTION */
/* <-------------------> */
/* <-------------------> */
/* <-------------------> */

.fifth-section{
    height: 100vh;
    background-color: #121211;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.referents {
    font-size: 30px;
    font-weight: 900;
    color: #eab104;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unique{
    width: 80%;
    height: 90%; 
    display: grid;
    grid-template-columns: 45% 45% ;
    row-gap: 10%;
    column-gap:10%;
    margin-top: 1%;
}

.boxing-fifth-section {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.name-fifth {
    font-size: 30px;
    font-weight: 900;
    -webkit-text-stroke: 0.1px black;
    color:#eab104;
}

.imagen-1 {
    background-image: url("../img/referencias/aurora.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-1:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0.0) 50%, #121211 100%);
}

.imagen-2 {
    background-image: url("../img/referencias/lago.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-2:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0.0) 50%, #121211 100%);
}

.imagen-3 {
    background-image: url("../img/referencias/montaña.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-3:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0.0) 50%, #121211 100%);
}

.imagen-4 {
    background-image: url("../img/referencias/nieve.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-4:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    background: linear-gradient(rgba(255,255,255,0.0) 50%, #121211 100%);
}

.img-circle-1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("../img/referencias/1.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-circle-2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("../img/referencias/2.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-circle-3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("../img/referencias/3.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-circle-4 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("../img/referencias/4.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-row {
    width: 58%;
    height: 10%;
    display: flex;
    margin: 3%;
    font-size: 25px;
    font-weight: bolder;
    background-color: rgba(235, 235, 235, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
}

.l1 {
    border-right: 3px solid black;
    margin-right: 5%;
    padding-right: 5%;
}

.l2 {
    border-right: 3px solid black;
    margin-right: 5%;
    padding-right: 5%;
}

@media (max-width: 1000px) {
    .name-fifth {
        font-size: 25px;
    }
   
    .text-row {
        font-size: 20px;
    }

    .img-circle-1 {
        width: 100px;
        height: 100px;
    }

    .img-circle-2 {
        width: 100px;
        height: 100px;
    }

    .img-circle-3 {
        width: 100px;
        height: 100px;
    }

    .img-circle-4 {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 580px) {

    .name-fifth {
        font-size: 20px;
    }
   
    .text-row {
        width: 58%;
        height: 10%;
        flex-direction: column;
        margin-top: 10%;
        font-size: 15px;
    }

    .img-circle-1 {
        width: 80px;
        height: 80px;
    }

    .img-circle-2 {
        width: 80px;
        height: 80px;
    }

    .img-circle-3 {
        width: 80px;
        height: 80px;
    }

    .img-circle-4 {
        width: 80px;
        height: 80px;
    }

}

/* <-------------------> */
/* <-------------------> */
/* <-------------------> */
   /* SIXTH SECTION */
/* <-------------------> */
/* <-------------------> */
/* <-------------------> */

.sixth-section {
    height: 30vh;
    background-color:#1A1919;
    background-image: url("../img/sixth/landscape.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.container-sixth {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(0,0,0,0.2);
}

.sixth-left {
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
}

.left-1 {
    color: #eab104;
    font-size: 25px;
    font-weight: 900;
}

.left-2 {
    color: white;
    font-size: 40px;
    font-weight: 900;
    margin-top: 1%;   
}

.left-3 {
    color:#3f3e3e;
    font-size: 22px;
    font-weight: 900;
    margin-top: 1%;
}

.sixth-right {
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-email {
    font-size: 30px;
    font-weight: 800;
    color: black;
}

.elementor-field {
    width: 50%;
    height: 30%;
    background-color: #1A1919;
    color: darkgrey;
}

.button-sixth {
 width: 30%;
 height: 30%;
 margin-left: 2%;
 border: 1px solid #eab104;
 background-color: transparent;
 font-size: 15px;
 transition: background-color 0.5s ;
}

.button-sixth:hover{
    background-color: rgba(0,0,0,0.3);
}


@media (max-width: 1000px) {

    .left-1 {
        font-size: 20px;
    }

    .left-2 {
        font-size: 30px;
    }

    .left-3 {
        font-size: 15px;
    }

    .elementor-field {
        font-size: 20px;
    }

    .button-sixth {
        font-size: 12px;
    }

}



@media (max-width: 580px) {

    .container-sixth {
        flex-direction: column;
    }

    .left-1 {
        
        font-size: 15px;
    }

    .left-2 {
        color: black;
        font-size: 25px;
    }

    .left-3 {
        font-size: 15px;
        color: black;
    }

    .elementor-field {
        font-size: 10px;
    }

    .button-sixth {
        font-size: 8px;
    }

}







/* <-------------------> */
/* <-------------------> */
/* <-------------------> */
   /* SEVENTH SECTION */
/* <-------------------> */
/* <-------------------> */
/* <-------------------> */

.seventh-section {
    height: 38vh;
    background-color: #1A1919;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-seventh {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.logo-seventh {
    width: 25%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.name-7 {
    color: white;
    font-size: 25px;
    font-weight: 900;
}

.second-container {
    width: 70%;
    height: 20%;
    margin-top: 5%;
    display: flex;
}

.box-7 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box-7 {
    width: 20%;
}

.info-7 {
    margin-left: 4%;
}

.title-7 {
    color: grey;
    font-size: 15px;
    font-weight: 800;
}

.general-7 {
    color: white;
    font-size: 18px;
    font-weight: 800;
}




@media (max-width: 1000px) {

    .seventh-section {
        height: 45vh;
    }

    .second-container {
        height: 40%;
        /* flex-direction: column; */
    }

    .name-7 {
        font-size: 18px;
    
    }

    .box-7 {
        height: 40%;
        justify-content: left;
    }

    .img-box-7 {
        width: 15%;
    }

    .title-7 {
        font-size: 15px;
    }

    .general-7 {
        font-size: 15px;
    }

}




@media (max-width: 700px) {

    .seventh-section {
        height: 45vh;
    }

    .second-container {
        height: 40%;
        flex-direction: column;
    }

    .name-7 {
        font-size: 18px;
    
    }

    .box-7 {
        height: 40%;
        justify-content: left;
    }

    .img-box-7 {
        width: 10%;
    }

    .title-7 {
        font-size: 10px;
    }

    .general-7 {
        font-size: 13px;
    }

}




/* <-------------------> */
/* <-------------------> */
/* <-------------------> */
    /* FINAL SECTION */
/* <-------------------> */
/* <-------------------> */
/* <-------------------> */

.final-section {
    height: 8vh;
    background-color:#121211;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-1 {
   color: white;
   font-size: 15px;
   border-right: black ;
}


@media (max-width: 700px) {

    .final-1 {
        font-size: 10px;
     }
}


















